:root {
    --greenA: #a3d729;
    --greenB: #4b8f29;
    --white: #FFFFFF;
    --black: #342E37;
}

/*hero*/
.hero img{
    width: 10%;
}
.hero a{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 70px;
    margin-left: 200px;
}
/*hero*/

/*controls*/
.constainer-segControl{
    margin-left: 200px;
}

.segmented-control {
    display: table;
    width: 500px;
    margin: 2em 0;
    padding: 0;
}

.segmented-control__item {
    display: table-cell;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.segmented-control__input {
    position: absolute;
    visibility: hidden;
}

.segmented-control__label a{
    text-decoration: none;
    display: block;
    margin: 0 -1px -1px 0; 
    padding: 1em .25em;

    border: 1px solid var(--greenB);
    
    font: 14px sans-serif; 
    text-align: center;  

    cursor: pointer;
}



.segmented-control__input:checked + .segmented-control__label a{
    background: var(--greenA);
    color: var(--white); 
}
/*controls*/

/*user*/
.user{
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    align-items: center;
}
.user p{
    font-size: 30px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.us-name{
    color: coral;
}
/*user*/

.cont-dash{
    margin-left: 200px;
}

header h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}
.cont-dash h2{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.content img{
    margin-left: 810px;
}

.btn-plus{
    margin-left: 810px;
}

.content h3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    margin-left: 50px;
}

.principal{
    border-style: solid;
    border-width: 1px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.principal image{
    float: right;
}

.FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    width: 49%;
    height: 80px;
    overflow: auto;
    flex-direction: row;
    margin-left: 340px;
    margin-bottom: 20px;

    border-style: solid;
    border-width: 1px;

}

/*table*/
a{
    text-decoration: none;
}
.table-conteiner{
    width: 70%;
    margin: 0 auto;
    padding-left: 250px;
}

table.main-table {
    font-family: Georgia, serif;
    background-color: var(--white);
    width: 70%;
    text-align: left;
}

table.main-table td, table.main-table th {
    padding: 3px 10px;
}

table.main-table tbody td a{
    font-size: 17px;
}

.table-conteiner a{
    font-size: 12px;
    text-decoration: none;
    color: var(--black);
}

table.main-table thead {
    background: var(--black);
}

table.main-table thead th {
    font-size: 20px;
    font-weight: bold;
    color: var(--greenA);
    text-align: left;
    padding: 5px;
}
/*table*/
  
 
    