:root {
    --greenA: #a3d729;
    --greenB: #4b8f29;
    --white: #FFFFFF;
    --black: #342E37;
}

/*hero*/
.hero img{
    width: 10%;
}
.hero a{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 70px;
    margin-left: 200px;
}
/*hero*/

/*controls*/
.constainer-segControl{
    margin-left: 200px;
}

.segmented-control {
    display: table;
    width: 500px;
    margin: 2em 0;
    padding: 0;
}

.segmented-control__item {
    display: table-cell;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.segmented-control__input {
    position: absolute;
    visibility: hidden;
}

.segmented-control__label a{
    text-decoration: none;
    display: block;
    margin: 0 -1px -1px 0; 
    padding: 1em .25em;

    border: 1px solid var(--greenB);
    
    font: 14px/1.5 sans-serif; 
    text-align: center;  

    cursor: pointer;
}

.segmented-control__label:hover {
    background: #fafafa;
}

.segmented-control__input:checked + .segmented-control__label a{
    background: var(--greenA);
    color: rgb(255, 255, 255); 
}
/*controls*/

/*user*/
.user{
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    align-items: center;
}
.user p{
    font-size: 30px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.us-name{
    color: coral;
}


  
/*user*/

.cont-dash{
    margin-left: 200px;

}

header h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}
.cont-dash h2{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.content img{
    margin-left: 810px;
}

.btn-plus{
    margin-left: 810px;
}

.content h3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    margin-left: 50px;
}

.principal{
    margin-right: 200px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.principal image{
    float: right;
}

hr{
    margin-left: 200px;
    border: 1px solid black;
}

.FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    width: 49%;
    height: 80px;
    overflow: auto;
    flex-direction: row;
    margin-left: 340px;
    margin-bottom: 20px;
}

/*login*/
.login-page {
    width: 600px;
    padding-top: 5px;
    margin-left: 150px;
  }

.form {
    position: relative;
    background: var(--white)FF;
    max-width: 497px;
    margin: 0 auto 30px;
    padding: 50px;
    text-align: start;
}
  
.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
  
.form button {
    text-transform: uppercase;
    outline: 0;
    background: #A2D729;
    width: 30%;
    border: 0;
    padding: 10px;
    color: var(--white)FF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    color: var(--black);
    margin-left: 170px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}
  
  
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 25px;
    margin-left: 20px;
}
  
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
  
.form .register-form {
    display: none;
}
  
.container {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  
/*login*/
  

.form-style-1 .field-divided{
	width: 49%;
}

.space{
    margin-left: 180px;
}

.form-style-1 input {
    outline: 0;
    background: #f2f2f2;
    width: 20%;
    border: 0;
    margin: 0 0 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
}

.sub{
    margin-left: 200px;
    margin-top: 30px;
    font-size: 30px;
}

.conteiner-sett {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 500px;
    overflow: auto;
    flex-direction: row;
    margin-left: 200px;
}

.conteiner-sett div {
    width: 250px;
    height: 277px;
    margin: 5px;
}

.conteiner-sett input{
    margin-left: 40px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.conteiner-sett label{
    font-size: 20px;

}
.title-check{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}

.input-label{
    margin-top: 13px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 800;
}

