
:root {
    --greenA: #a3d729;
    --greenB: #4b8f29;
    --white: #FFFFFF;
    --black: #342E37;
}

/*hero*/
.hero img{
    width: 20%;
}
.hero a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
/*hero*/

/*login*/
.login-page {
    width: 600px;
    padding-top: 5px;
    margin: auto;
  }

.form {
    position: relative;
    background: var(--white);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
  
.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
  
.log {
    text-transform: uppercase;
    outline: 0;
    background: #A2D729;
    width: 100%;
    border: 0;
    padding: 15px;
    padding-left: 156px;
    padding-right: 156px;
    color: var(--white)FF;
    font-size: 14px;
    cursor: pointer;
    color: var(--black);
    text-decoration: none;
}
  
  
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 25px;
}
  
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
  
.form .register-form {
    display: none;
}
  
.container {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
}
  
/*login*/