:root {
    --greenA: #a3d729;
    --greenB: #4b8f29;
    --white: #FFFFFF;
}
/*hero*/
.hero img{
    width: 10%;
}
.hero a{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 70px;
    margin-left: 200px;
}
/*hero*/

/*controls*/
.constainer-segControl{
    margin-left: 200px;
}

.segmented-control {
    display: table;
    width: 500px;
    margin: 2em 0;
    padding: 0;
}

.segmented-control__item {
    display: table-cell;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.segmented-control__input {
    position: absolute;
    visibility: hidden;
}

.segmented-control__label a{
    text-decoration: none;
    display: block;
    margin: 0 -1px -1px 0; 
    padding: 1em .25em;

    border: 1px solid var(--greenB);
    
    font: 14px/1.5 sans-serif; 
    text-align: center;  

    cursor: pointer;
}

.segmented-control__label:hover {
    background: var(--white);
}

.segmented-control__input:checked + .segmented-control__label a{
    background: var(--greenA);
    color: var(--white); 
}
/*controls*/


  
 