:root {
    --greenA: #a3d729;
    --greenB: #4b8f29;
    --black: #342E37;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.principal{
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
}

/*btn*/
.login-bnt {
	background-color:var(--greenA);
	border-radius:10px;
	border:2px solid var(--greenB);
	display:inline-block;
	cursor:pointer;
	color:var(--black);
	font-family:Arial;
	font-size:26px;
	font-weight:bold;
	padding:11px 28px;
	text-decoration:none;
}
.login-bnt:hover {
	background-color:var(--greenA);
}
.login-bnt:active {
	position:relative;
	top:1px;
}

.btn-conteiner{
    float: right;
    margin-right: 100px;
    margin-top: 50px;
}
/*btn*/

/*hero*/
.hero img{
    width: 20%;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
/*hero*/

/*title*/
.title{
    font-size: 40px;
    padding-left: 410px;
    padding-bottom: 20px;
}
.search-t{
    font-size: 20px;
    padding-left: 410px;
    padding-bottom: 20px;
}
/*title*/

/*nav search*/
/*.search-nav{
    width: 49%;
    height: 80px;
    margin-left: 340px;
    margin-bottom: 20px;
    
    
    
    

}*/

.FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    width: 49%;
    height: 80px;
    overflow: auto;
    flex-direction: row;
    margin-left: 340px;
    margin-bottom: 20px;

    border-style: solid;
    border-width: 1px;

}

/*nav search*/
/*btn*/
.button {
    color: var(--black);
    padding: 0.5em 1em;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 0.5em;
    border: 2px solid var(--greenA);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
/*btn*/

/*table*/
a{
    text-decoration: none;
}
.table-conteiner{
    width: 70%;
    margin: 0 auto;
    padding-left: 250px;
}

table.main-table {
    font-family: Georgia, serif;
    background-color: #FAFFFD;
    width: 70%;
    text-align: left;
}

table.main-table td, table.main-table th {
    padding: 3px 10px;
}

table.main-table tbody td {
    font-size: 21px;
}

table.main-table thead {
    background: var(--black);
}

table.main-table thead th {
    font-size: 20px;
    font-weight: bold;
    color: var(--greenA);
    text-align: left;
    padding: 5px;
}
/*table*/